.gradient-background {
  background: linear-gradient(300deg, #793fdf, #7091f5, #97fff4, #fffd8c);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body{
  font-family: 'Magra', sans-serif;
}

.wholePage{
  height: 200vh;
  width: 100vw;
}

body{
  margin: 0px;
}

p{
  margin: 0px;
  color: rgb(0, 0, 0);
}

.headerer{
  text-align: center;
  color: white;
  height: 5vh;
}

.parra{
  padding: 0px 5% 3%;
}

.greeting{
  text-align: center;
  padding-bottom: 2%;
  font-size: larger;
}

.parra{
  font-size: larger;
}